.guestPageWrapper{
    width: 100vw;
    height: 100vh;
}
.guestChatBox{
    display: flex;
    width: 100%;
    min-height: 100vh;

    justify-content: center;
}
.guestChatContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: start;
    justify-content: start;
    padding-top: 40px;
}
.regenerateResponseButton{
    background-color: #f8f4f2;
    width: 170px;
    padding: 10px 18px 10px 18px;
    border: 2px solid hsla(36, 61%, 16%, 0.8);
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  
  }

.regenerateResponseButton:hover{
    background-color: #2f3757;
    border: 2px solid hsla(36, 61%, 16%, 0.8);
    border-radius: 5px;
    color: #fff;
}
