.guestPageWrapper{
    width: 100vw;
    height: 100vh;
}
.guestChatBox{
    display: flex;
    width: 100%;
    min-height: 100vh;

    justify-content: center;
}
.guestChatContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: start;
    justify-content: start;
    padding: 40px 0px;
    gap: 50px;
}
.regenerateResponseButton{
    background-color: #f8f4f2;
    width: 170px;
    padding: 10px 18px 10px 18px;
    border: 2px solid hsla(36, 61%, 16%, 0.8);
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  
  }

.regenerateResponseButton:hover{
    background-color: #2f3757;
    border: 2px solid hsla(36, 61%, 16%, 0.8);
    border-radius: 5px;
    color: #fff;
}

.chatBlockContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkWrapper{
    padding: 50px;
    display: flex;
}

.auth-button{
    display: flex;
    align-items: center;
    gap: 7px;
    width: 170px;
    text-decoration: none;
    background-color: transparent;
    border: none;
}
.auth-button:hover{
    border-radius: 3px;
    border: #000000;
    background-color: #ffeddd;
    transition: background-color 0.3s, color 0.3s;

}
.auth-button span{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}